.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    height: 3065px;
    position: relative;
    width: 1440px;
  }
  
  .screen .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 600;
    left: 88px;
    letter-spacing: -0.96px;
    line-height: normal;
    position: absolute;
    top: 2275px;
    width: 625px;
  }
  
  .screen .cards {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    left: 88px;
    position: absolute;
    top: 2382px;
    width: 1280px;
  }
  
  .screen .customer-quote {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 48px;
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-top: -1.00px;
    padding: 32px;
    position: relative;
  }
  
  .screen .text-wrapper-2 {
    align-self: stretch;
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -0.50px;
    position: relative;
  }
  
  .screen .avatar {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .screen .img {
    height: 45px;
    object-fit: cover;
    position: relative;
    width: 45px;
  }
  
  .screen .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
  }
  
  .screen .text-wrapper-3 {
    color: #000000;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .screen .text-wrapper-4 {
    color: #828282;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .screen .customer-quote-2 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 48px;
    margin-bottom: -1.00px;
    margin-top: -1.00px;
    padding: 32px;
    position: relative;
  }
  
  .screen .customer-quote-3 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 48px;
    margin-bottom: -1.00px;
    margin-right: -1.00px;
    margin-top: -1.00px;
    padding: 32px;
    position: relative;
  }
  
  .screen .navigation-footer {
    background-color: #ffffff;
    height: 153px;
    left: 0;
    position: absolute;
    top: 2912px;
    width: 1440px;
  }
  
  .screen .items {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    left: 973px;
    position: absolute;
    top: 45px;
    width: 187px;
  }
  
  .screen .text-wrapper-5 {
    align-self: stretch;
    color: #000000;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
  }
  
  .screen .div-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    left: 1173px;
    position: absolute;
    top: 48px;
    width: 187px;
  }
  
  .screen .text-wrapper-6 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 72px;
    left: 88px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 2px;
  }
  
  .screen .social-icons {
    align-items: flex-start;
    display: inline-flex;
    gap: 8px;
    left: 80px;
    position: absolute;
    top: 77px;
  }
  
  .screen .buttons-icon {
    border-radius: 4px;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .screen .icon {
    height: 24px;
    left: 8px;
    position: relative;
    top: 8px;
    width: 24px;
  }
  
  .screen .icon-2 {
    height: 20px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
  }
  
  .screen .icon-3 {
    height: 18px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 18px;
  }
  
  .screen .icon-4 {
    height: 14px;
    left: 2px;
    position: absolute;
    top: 5px;
    width: 20px;
  }
  
  .screen .divider {
    height: 1px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .screen .navigation {
    background-color: #ffffff;
    height: 164px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .screen .items-2 {
    align-items: center;
    display: inline-flex;
    gap: 48px;
    justify-content: flex-end;
    left: 735px;
    position: absolute;
    top: 56px;
  }
  
  .screen .text-wrapper-7 {
    color: #000000;
    font-family: var(--body-text-font-family);
    font-size: var(--body-text-font-size);
    font-style: var(--body-text-font-style);
    font-weight: var(--body-text-font-weight);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .screen .button {
    all: unset;
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    padding: 14px 24px;
    position: relative;
  }
  
  .screen .text-wrapper-8 {
    color: #ffffff;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .screen .happy-kids-world {
    height: 23px;
    left: 82px;
    position: absolute;
    top: 73px;
    width: 194px;
  }
  
  .screen .copy {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    left: 859px;
    position: absolute;
    top: 1350px;
    width: 516px;
  }
  
  .screen .text-wrapper-9 {
    align-self: stretch;
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48.0px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .screen .p {
    align-self: stretch;
    color: #828282;
    font-family: var(--subheading-font-family);
    font-size: var(--subheading-font-size);
    font-style: var(--subheading-font-style);
    font-weight: var(--subheading-font-weight);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    position: relative;
  }
  
  .screen .buttons {
    height: 60px;
    position: relative;
    width: 150px;
  }
  
  .screen .button-2 {
    all: unset;
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    box-sizing: border-box;
    display: inline-flex;
    gap: 8px;
    padding: 12px 24px;
    position: relative;
  }
  
  .screen .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .screen .image {
    height: 429px;
    left: 77px;
    object-fit: cover;
    position: absolute;
    top: 1746px;
    width: 643px;
  }
  
  .screen .image-2 {
    height: 434px;
    left: 760px;
    object-fit: cover;
    position: absolute;
    top: 1741px;
    width: 651px;
  }
  
  .screen .image-3 {
    height: 959px;
    left: 2px;
    object-fit: cover;
    position: absolute;
    top: 168px;
    width: 1438px;
  }
  
  .screen .image-4 {
    height: 422px;
    left: 58px;
    object-fit: cover;
    position: absolute;
    top: 1245px;
    width: 685px;
  }
  